[Desktop Entry]
Encoding=UTF-8
Name=Flowercoin
Comment=Flowercoin P2P Cryptocurrency
Comment[fr]=Flowercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Flowercoin, eşten eşe kriptografik sanal para birimi
Exec=flowercoin-qt %u
Terminal=false
Type=Application
Icon=flowercoin128
MimeType=x-scheme-handler/flowercoin;
Categories=Office;Finance;
