[Unit]
Description=Flowercoin's distributed currency daemon
After=network.target

[Service]
User=flowercoin
Group=flowercoin

Type=forking
PIDFile=/var/lib/flowercoind/flowercoind.pid
ExecStart=/usr/bin/flowercoind -daemon -pid=/var/lib/flowercoind/flowercoind.pid \
-conf=/etc/flowercoin/flowercoin.conf -datadir=/var/lib/flowercoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
